{% assign featured_collection = section.settings.featured_collection %}

<section class="new-items-area product-items section-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-header">
                    <h4 class="section-title"> {{ section.settings.title }} </h4>
                    <p class="section-para"> {{ section.settings.sub_title }} </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product-slider owl-carousel owl-theme">
                {% for product in collections[featured_collection].products limit: 5 %}

                    <div class="product-wrapper">
                        <div class="pro-img">
                            <a href="{{ product.url | within: collection }}">
                                <img src=" {{ product.featured_image.src | img_url: 'medium' }}" class="img-fluid" alt="">
                            </a>
                            <div class="product-action text-center">
                                <div class="product-action-btn mb-20">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Shoppingb Cart" class="productInfoAnchor" product-handle="{{ product.handle }}">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist">
                                        <i class="far fa-heart"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="View More">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                                <div class="pro-rating mb-10">
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                </div>
                            </div>
                            <p class="promo-text mb-0 editors-choice">Editor’s choice</p>                        
                        </div>
                        <div class="pro-text">
                            <div class="pro-title">
                                <h6>
                                    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
                                </h6>
                                <p class="pro-price mb-0">{{ product.price | money }}</p>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
</section>
<div id="productInfoModal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centerd modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                example modal
            </div>
        </div>
    </div>
</div>
{% schema %}
{
    "name": {
        "en" : "Featured Collection"
    },
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": {
                "en" : "Heading"
            },
            "default": {
                "en" : "New Items"
            }
        },
        {
            "type": "text",
            "id": "sub_title",
            "label": {
                "en" : "Sub Heading"
            },
            "default": {
                "en" : "Spring & Summer 2015 Collection"
            }
        },
        {
            "type": "collection",
            "id": "featured_collection",
            "label": "Collection"
        }
    ],
    "presets": [
        {
            "category": {
                "en" : "Collection"
            },
            "name": {
                "en" : "New Item"
            }
        }
    ]
}
{% endschema %}
