<footer class="footer-area">
    <div class="container">
        <div class="row section-area">
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'footerServices' %}
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <div class="footer-service">
                                <h4 class="footer-service-title">{{ block.settings.service-title }}</h4>
                                <p class="footer-service-subtitle">{{ block.settings.service-subtitle }}</p>
                                <a href="{{ block.settings.service-link }}" class="footer-service-link">More info here <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                {% endcase %}
            {% endfor %}
        </div>
        <div class="newsletter-area">
            <div class="row">
                <div class="col-xl-8 col-lg-7 col-md-7">
                    <div class="newsletter-box">
                        <div class="newsletter-content">
                            <h2 class="newsletter-title">Newsletter</h2>
                            {% form 'customer', class:'newsletter-form', return_to: routes.root_url %}
                                {{ form.errors | default_errors }}
                                <input type="email" name="customer[email]" class="email" placeholder="Enter email address">
                                <button class="submit-btn">Submit</button>
                            {% endform %}
                            <p class="newsletter-para"><span class="d-md-block d-sm-inline">Sign up to receive the
                                    lastest fashion, trend</span>and culture via email and get exclusive offers from
                                1992’s Shop.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4  col-lg-5 col-md-5">
                    <div class="insta-wrapper">
                        <div class="row">
                            
                            {% for block in section.blocks %}
                                {% case block.type %}
                                    {% when 'footerInsta' %}
                                        <div class="col-4">
                                            <a href="{{ block.settings.insta-link }}" class="insta-img-link">
                                                <img src="{{ block.settings.insta-img | img_url: 'medium' }}" alt="">
                                            </a>
                                        </div>
                                {% endcase %}
                            {% endfor %}

                            <span class="insta-bottom-text">
                                <i class="fab fa-instagram"></i>@1992shop_online
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-xl-12">
                    <div class="footer-bottom-inner">
                        <div class="footer-left-menu">
                            <ul>
                                <li><a href="#"><img src="assets/img/logo.png" alt=""></a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Our Stores</a></li>
                                <li><a href="#">iOS &amp; Android Apps</a></li>
                            </ul>
                        </div>
                        <div class="scroll-to-top">
                            <a href="#"><i class="fas fa-arrow-up"></i></a>
                        </div>
                        <div class="footer-right-menu">
                            <ul>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Size Guide</a></li>
                                <li><a href="#">Delivery Info</a></li>
                                <li><a href="#">Return Info</a></li>
                                <li><a href="#">Discount</a></li>
                                <li><a href="#">Gift</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


{% schema %}
{
    "name": {
        "en" : "Footer"
    },
    "blocks" : [
        {
            "name"     : "Footer Quick Link",
            "type"     : "footer_quick_link",
            "settings" : [
                {
                    "type"    : "text",
                    "id"      : "footer_link_header",
                    "label"   : "Footer Link Header",
                    "default" : "Quick Links"
                },
                {
                    "type"    : "link_list",
                    "id"      : "menu",
                    "label"   : "Footer Menu"
                }
            ]
        },
        {
            "name"     : "Footer Services",
            "type"     : "footerServices",
            "limit"    : 3,
            "settings" : [
                {
                    "type"    : "text",
                    "id"      : "service-title",
                    "label"   : "Service Title",
                    "default" : "Service Title"
                },
                {
                    "type"    : "text",
                    "id"      : "service-subtitle",
                    "label"   : "Service Subtitle",
                    "default" : "For standard orders over 50 USD"
                },
                {
                    "type"    : "url",
                    "id"      : "service-link",
                    "label"   : "Service Link"
                }
            ]
        },
        {
            "name" : "Footer Insta",
            "type" : "footerInsta",
            "limit" : 9,
            "settings" : [
                {
                    "type": "image_picker",
                    "id": "insta-img",
                    "label": "Insta Image"
                },
                {
                    "type" : "url",
                    "id" : "insta-link",
                    "label" : "Insta Link"
                }
            ]
        }
    ]
}
{% endschema %}